# Copy file này thành .env

# PayPal Sandbox — https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_CLIENT_ID=ARKK4HlvBI37lJKNuW_zQQuR7psUZFPj9rZE-j6kI8cF2ucDXksfubNWvgwpk-t5GPWKcW8E-KGlcb2R
PAYPAL_CLIENT_SECRET=EBVcDrIz_VQdsQEh1A_Y5dh2IeTisx03Ayof76LX4VPpJPPKuVqaWucDLIID_zL63BzIUm0tDjYI7Bus
PAYPAL_MODE=sandbox
PAYPAL_CURRENCY=USD
PAYPAL_VND_PER_USD=25000

# Tài khoản test buyer/seller: https://developer.paypal.com/dashboard/accounts

# Groq — chatbot CSKH: https://console.groq.com/keys
GROQ_API_KEY=
GROQ_MODEL=qwen/qwen3-32b
